
@{
    ViewBag.Title = "EditCom";
}

<h2>Editer le Commentaire</h2>

@model Wiky_ASP_CodeFirst.Models.Commentaire


@using (Html.BeginForm())
{
    @Html.HiddenFor(a => a.Id_Commentaire)
    @Html.HiddenFor(a => a.Com_Id_Article)
    @Html.HiddenFor(a => a.DateComentaire)
    <div> @Html.LabelFor(a => a.Auteur)</div>
    <div> @Html.TextBoxFor(a => a.Auteur)</div>
    <div> @Html.LabelFor(a => a.Contenu)</div>
    <div> @Html.TextAreaFor(a => a.Contenu, new { style = "height : 200px" })</div>
    <div><input type="submit" value="Valider" /></div>
}