@{
    ViewBag.Title = "Home Page";
 
}

<h1>Wiky </h1>
@model Wiky_ASP_CodeFirst.Models.Article

@using (Html.BeginForm())
{
    <div> @Html.LabelFor(a => a.Auteur) @Html.DisplayFor(a => a.Auteur)</div>
    <div> @Html.LabelFor(a => a.Theme) @Html.DisplayFor(a => a.Theme)</div>
    <div> @Html.LabelFor(a => a.Image) @Html.DisplayFor(a => a.Image)</div>
    <div> @Html.LabelFor(a => a.Contenu) @Html.DisplayFor(a => a.Contenu)</div>
    <div> @Html.Label("Créé le :") @Html.DisplayFor(a => a.DateCreation)</div>

}
