@{
    ViewBag.Title = "Home Page";
}

@{
    ViewBag.Title = "Home Page";
}

@model Wiky_ASP_CodeFirst.Models.Article

@using (Html.BeginForm())
{
    <div> @Html.LabelFor(a => a.Auteur) @Html.TextBoxFor(a => a.Auteur)</div>
    <div> @Html.LabelFor(a => a.Theme) @Html.TextBoxFor(a => a.Theme)</div>
    <div> @Html.LabelFor(a => a.Image) @Html.TextBoxFor(a => a.Image)</div>
    <div> @Html.LabelFor(a => a.Contenu) @Html.TextBoxFor(a => a.Contenu, new { style = "height : 200px" })</div>
    <div><input type="submit" value="Valider"/></div>

}
