@model IEnumerable<Wiky_ASP_CodeFirst.Models.Commentaire>

<table style="width:60%">
    <tr>
        <td>Auteur</td>
        <td>Contenu</td>
        <td>Date</td>
        <td></td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Auteur</td>
            <td>@item.Contenu</td>
            <td>@item.DateComentaire</td>
            <td>@Ajax.ActionLink("Edit", "Edit", "Commentaires", new { id = item.Id_Commentaire }, new AjaxOptions {UpdateTargetId = "listeCom" }) |  @Ajax.ActionLink("Supprimer", "DeleteConfirmed", "Commentaires", new { id = item.Id_Commentaire }, new AjaxOptions { UpdateTargetId = "listeCom" }) </td>
            
        </tr>
    }
</table>